.arrow {
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    background: #ccc;
    cursor: pointer;
  }
  
  ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: .7s ease-in-out;
    -webkit-transition: .7s ease-in-out;
    -moz-transition: .7s ease-in-out;
    -ms-transition: .7s ease-in-out;
    -o-transition: .7s ease-in-out;
    /*убратьмеждуinline-blockliлишниепробелы,которыеестьвHTML*//*http:;
    //davidwalsh.name/remove-whitespace-inline-block*/font-size: 0;
}
  
  ul img {
    width: 130px;
    height: 130px;
    /* по умолчанию inline, но в ряде браузеров это даст лишнее пространство вокруг элементов */
  
    display: block;
  }
  
  ul li {
    /*есливHTMLмеждуэлементами<li>..</li>естьпробелы,тоонибудутвиднынастранице,чтобыихизбежать,нужнолибописать<li>..</li><li>..</li>вплотную,либонеставитьзакрывающие</li>*/transition:;
    display: inline-block;
}

  .img__box {
      width: 390px;
      overflow: hidden;
  }
  
  .carousel__box {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    background: #ccc;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}